
@{
    ViewData["Title"] = "Error";
}


<form class="form">

    <h4 class="mb-3">El registro que desea borrar encuentra relacionado en  otros registros
        es por ello que no permitimos borrar el registro ya que se tendrian que eliminar en casacada todos los registros en donde
        este este presente gracias por entender.
    </h4>


</form>
