@model RegistroViewModel

@{
    ViewData["Title"] = "Registro";
}

<h3>
                Software para Veterinaria Colpets
 </h3>
<form asp-action="Registro" class="form-login" >

    <h3>Registrate</h3>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <input type="text" asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

     <div class="mb-3">
        <label asp-for="Cedula" class="form-label">Cedula</label>
        <input type="text" asp-for="Cedula" class="form-control" />
        <span asp-validation-for="Cedula" class="text-danger"></span>
    </div>

     <div class="mb-3">
        <label asp-for="Telefono" class="form-label">Telefono</label>
        <input type="text" asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Edad" class="form-label">Edad</label>
        <input type="text" asp-for="Edad" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input type="password" asp-for="Password"  class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Registrate</button>
    <a class="btn btn-success" asp-action="Login">Loguearme</a>
</form>

@section Scripts{
                    <partial name="_ValidationScriptsPartial" />
}

            